@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html{
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

p {
    word-break: keep-all;
}

.navbar {
    background-color: #272727;
}

.nav-item {
    align-items: center;
}

.nav-link {
    font-family: 'GowunBatang-Regular';
    font-size: 15px;
}

/* 비디오 섹션 */
.video_section {
    font-family: 'GowunBatang-Regular';
    color: white;
    background-color: rgba(0, 0, 0, 0.918);
    padding-left: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

h3.display-5 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-dark {
    background-color: #272727 !important;
}

.gray {
    color: #ffffff98;
    text-align: center;
}

.book_ {
    color:#919191;
    font-size: 15px;
}

/* 본문 */

.section {
    font-family:'GowunBatang-Regular';
    text-align: center;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-title {
    display: inline-block;
    margin-top: 10px;
    border: 1px dotted black; 
    color: rgb(49, 49, 49); 
    padding: 5px 30px;
    font-size: 25px;
    margin-bottom: 10px;
  }


.text {
    line-height: 1.5;
    font-size: 18px;
    margin: 20px auto;
    max-width: 900px;
    color:#000000;
    text-align: center;
    padding-left: 10px; 
}

/* 인용 문구 */
.blockquote {
    margin: 20px auto;
    max-width: 900px;
    line-height: 1.6;
}

.quote-header {
    margin-bottom:15px;
    padding: 0;
}

.quote-dot {
    width:30px;
}

/* 이미지 슬라이드 */

#myCarousel {
    max-width: 900px;
    margin: 0 auto;
}

#myCarouse {
    max-width: 900px;
    margin: 0 auto;
}

.carousel-item img {
    background-color: rgba(255, 255, 255, 0.973);
    object-fit: contain;
    height: 450px;
}


/* 캡션 */
.caption {
    margin-top: 15px;
    font-family: 'GowunBatang-Regular';
    line-height: 1.3;
}

.card {
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
    font-family: 'GowunBatang-Regular';
    line-height: 1.5;
}

.caption_font {
    text-decoration: none !important;
    color: rgb(151, 151, 151);
}

/* MindMap */

@media (max-width: 900px) {
    body {
        width: 100%;
    }

    .text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        max-width: 100%;
    }
    
    
    #myCarousel {
        max-width: 100%;
    }
    
    #myCarouse {
        max-width: 100%;
    }
    
    .card {
        max-width: 100%;
    }

}


@media (max-width: 767px) {
    
    html, body {
        overflow-x: hidden !important;
    }

    .video_section {
        padding-top: 0;
    }

    h3.display-5 {
      font-size: 1.3rem;
    }

    .gray {
        padding-left: 10px;
        padding-right: 10px;
        font-size:15px;
    }

    .sub-title {
        font-size: 20px;
      }

    .book {
        color:#919191;
        font-size: 0.9rem;
    }

    .carousel-item img {
        height: 250px;
    }

    /* 인용 문구 */
    .blockquote {
        font-size: 18px !important;
        line-height: 1.5;
    }
}

/* only galaxy fold*/
@media (max-width: 300px) {
    .video_section {
        padding-bottom: 30px !important;
        padding-top: 20px !important;
    }

    .logo {
        display: none;
    }

    h3.display-5 {
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }
    .sub-title {
        text-align: center;
        font-size: 18px;
      }

    .gray {
        font-size: 15px;
    }

    .text {
        padding: 0px !important;
        font-size: 15px;
    }
}

@media (min-width:1000px){
    .nav-item {
        width:160px;
    }
}